rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Only allow authenticated users to access the database
    match /users/{userId}/{documents=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
